/* From toast.css */
.grid {
	margin-left: -3%;
	max-width: 105%;
}

.unit {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	margin-left: 3%;
	margin-right: -.25rem;
	/* Clearfix */
	overflow: hidden;
	*overflow: visible;
}

.span-grid {
	width: 97%;
}

.one-of-two { width: 47%; }

.one-of-three { width: 30.36%; }
.two-of-three { width: 63.666666666%; }

.one-of-four { width: 22.05%; }
.three-of-four { width: 72%; }

.one-of-five { width: 17.07%; }
.two-of-five { width: 37%; }
.three-of-five { width: 57%; }
.four-of-five { width: 77%; }

/* End Toast.css stuff */
/* From markdown.css */

img {
    padding: 0.25rem;
    clear: both;
    max-width: 100%;
}
body {
    background-color: #100023;
    margin: 0 auto;
    font-family: 'Lora', serif;
    color: #444444;
    line-height: 1;
    max-width: 960px;
    padding: 1.75rem;
}
h1, h2, h3, h4, h5 {
    color: #111111;
    font-weight: 400;
    font-family: 'Arvo', serif;
}
h1, h2, h3, h4, h5, p {
    margin-bottom: 1.5rem;
    padding: 0;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.25rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.3125rem;
}
h5 {
    font-size: 1.125rem;
}
ul, ol {
    padding: 0;
    margin: 0;
}
li {
    line-height: 1.5rem;
}
li ul, li ul {
    margin-left: 1.5rem;
}
p, ul, ol {
    font-size: 1rem;
    line-height: 1.5rem;
}
pre {
    padding: 0 1.5rem;
    white-space: pre-wrap;
}
blockquote {
    border-left: 0.5rem solid #eee;
    padding: 0 2rem;
    margin-left:0;
}
blockquote p {  
    color: #666;
}
hr {
    text-align: left;
    margin: 0 auto 0 0;
    color: #999;
}

/* End markdown.css stuff */
/* My own stuff */

.unit > h4 {
    font-weight: bold;
}
em {
    font-weight: bold;
}
.container {
	max-width: 960px;
    background-color: white;
	margin: 0 auto;
    padding: 0.25rem 1.75rem;
    border-radius: 1.5rem;
    moz-border-radius: 1.5rem;
}
.grid {
    padding: 0 1.25rem 1.25rem 1.25rem;
    margin-bottom: 1.25rem;
}
.colored {
    background-color: #CDC6D5;
    border-radius: 1.5rem;
    moz-border-radius: 1.5rem;
}
.colored h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1.25rem;
}
blockquote p {
    color: #444444;
}
blockquote {
    border-left: 0.5rem solid #100023;
    padding: 0 1rem;
}
a {
    color: #100023;
}
a:visited {
    color: #230020;
}
a:hover {
    text-decoration: none;
    color: #999026;
}
ol {
    margin-left: 1.5rem;
}
ul {
    list-style-type: none;
}
figure {
    text-align: center;
}
img#logo {
    width: 100%;
    /* max-width: 960px; */
}

/* More from toast.css */
@media screen and (max-width: 650px) {
	.grid {
		margin-left: 0;
		max-width: none;
	}

    .container {
        padding: 0.25rem 0.5rem;
        border-radius: 1rem;
        moz-border-radius: 1rem;
    }

    body {
        padding: 0.5rem;
    }

	.unit {
		width: auto;
		margin-left: 0;
		display: block;
	}
	html {
		font-size: 100%;
	}
}

